/*Master Styles*/
body::-webkit-scrollbar {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}
body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    background-image: url("pictures/background8.webp");

}
header {
    position: fixed;
    margin: 0px;
    top: 0px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(155, 155, 155, 0.75);
    z-index: 100000000000;
}

header .logo{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 2px;
}

header ul{
    position: relative;
    display: flex;
    
    
    padding: 0px 50px;
flex-direction: row;}

header ul li{
    position: relative;
    list-style: none;
    border-bottom: 1px transparent black;
}

header ul li a{
    position: relative;
    margin: 0px 10px;
    text-decoration: none;
    color: black;
    font-size: 18.5px;
}

footer{
    background-color: rgba(40, 40, 40, 0.25);
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}
.content-wrapper{
    padding-top: 97px;
    padding-left: 0px;
    padding-right: 0px;
    min-height: max-content;
    z-index: -1;
}
.placement-text{
    padding-top: 200px;
    font-size: 100px;
}

/*main-content Styles*/
.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-content .left{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    justify-content: left;
    align-items: left;
    align-self: center;
}
.main-content .right{
    display: flex;
    justify-content: right;
    align-items: center;
}

/*Home Page Welcome Styles*/
.hello{
    font-size: 23px;
    padding-bottom: 20px;
}

.welcome-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.welcome-wrapper > .title{
    display: flex;
    justify-content: left;
    align-content: center;
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 20px;
}

.welcome-wrapper > .subtitle{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    font-size: 23px;
    font-weight: normal;
}
.welcome-wrapper > .subtitle > *{
    width: 70%;
    text-align: left;
}

/*Social Media & more icon styles*/
.learn-more > button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
}
.media-buttons{
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 20px;
    padding-left: 0px;
}

.social-icon > img{
    height: auto;
    width: 35px;
    cursor: pointer;
    padding-right: 20px;
}

.social-icon > a{
    width: 50px;
}
/*footer Styles*/
.footer-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.footer-left{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    align-items: center;
}
.footer-left > div{
    font-size: 20px;
}

.footer-right{
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    align-items: center;
}
.footer-right > div{
    font-size: 20px;
}

/*Topic Block Styles*/
.topic-block-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 20px;
}
.topic-title{
    justify-self: center;
    align-self: center;
}
.topic-title-text{
    align-self: center;
    justify-self: center;
text-align: center;font-size: 30px;text-decoration: underline;padding-bottom: 10px;}
.topic-block-left-img{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    border-radius: 15px;
    background-blend-mode: darken;
    opacity: 1;
    /*box-shadow: 0px 0px 40px 0.1px dimgray;*/
}
.topic-block-right-img{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    border-radius: 15px;
    background-blend-mode: darken;
    opacity: 1;
    /*box-shadow: 0px 0px 40px 0.1px dimgray;*/
}
.topic-block-left-img > .right-side{
    justify-self: left;
    align-self: center;
    padding-left: 25px; /*for the text next to the image*/
}
.topic-block-left-img > .left-side{
    justify-self: left;
    align-self: center;
}
.topic-block-right-img > .left-side{
    justify-self: right;
    align-self: center;
    padding-right: 25px; /*for the text next to the image*/
}
.topic-block-right-img > .right-side{
    justify-self: right;
    align-self: center;
}
.right-side{
    justify-self: right;
    margin: 0px;
}
.left-side{
    justify-self: left;
    margin: 0px;
}

.topic-img-wrapper > a > img{
    margin: 0px;
    height: auto;
    width: 500px;
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.topic-img-wrapper > img{
    margin: 0px;
    height: auto;
    width: 500px;
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
    display: block;
}
.topic-text-wrapper{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: center;
}
.topic-text-wrapper > *{
    font-size: 21px;
    text-align: center;
}
