/*Master Styles*/
body::-webkit-scrollbar {
    margin: 0px;
    padding: 0px;
    font-family: 'Georgia', Tahoma, Geneva, Verdana, sans-serif;
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: 0;
    position: relative;
}
body {
    margin: 0px;
    font-family: 'Georgia', Tahoma, Geneva, Verdana, sans-serif;    
/*     background-image: url("pictures/background8.webp");
 */
    background-color: #ADC6F8;
}

header {
    
    top: 0px;
    
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-left: 35px;
    padding-right: 0px;
    background-color: transparent;
    z-index: 3;
}

header .logo{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;font-family: 'poppins';
}

header ul{
    position: relative;
    display: flex;  
    padding: 0px 50px;
    flex-direction: row;
}

header ul li{
    position: relative;
    list-style: none;
    border-bottom: 1px transparent black;
}

header ul li a{
    position: relative;
    margin: 0px 10px;
    text-decoration: none;
    color: black;
    font-size: 18.5px;
    font-family: 'Raleway';
}

footer{
    background-color: #CCDCEF;
    height: 225px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

a{
    cursor:pointer;
}

.active-link{
    color: rgba(100, 100, 100, 1);
}

.highlight--green{
    background-color: rgba(138, 192, 140, 0.5);
}

.italisize{
    font-style: italic;
}

.highlight--yellow{
    background-color: rgba(245, 245, 83, 0.5);
}


.nav-subtitle{
    display: flex;
    flex-direction: row;
    
font-size: 17px;font-family: 'Poppins';}

.container {
    display: grid;
    grid-template-columns: 1fr;
    z-index: 0;
}
.content-wrapper{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    min-height: max-content;
    z-index: -1;
    position: relative;
    z-index: 1;
}
.placement-text{
    padding-top: 200px;
    font-size: 100px;
}

/*main-content Styles*/
.main-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-content .left{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    justify-content: left;
    align-items: left;
    align-self: center;
}
.main-content .right{
    display: flex;
    justify-content: right;
    align-items: center;
padding-bottom: 0px;}

/*Home Page Welcome Styles*/
.hello{
    font-size: 16px;
    
font-family: 'Playfair Display';font-style: italic;font-weight: bold;;}

.welcome-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.welcome-wrapper > .title{
    display: flex;
    justify-content: left;
    align-content: center;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 5px;
    font-family: 'Poppins';
}

.welcome-wrapper > .subtitle{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Poppins';
}

.welcome-wrapper > .subtitle > *{
    width: 70%;
    text-align: left;
}

.learn-more{
    padding-bottom: 25px;
    cursor: pointer;
}

.Rowan-pic{
    padding-bottom: 0px;
}

.Rowan-pic > img{
    width: 770px;
    height: auto;
}

/*Social Media & more icon styles*/
.learn-more > a > button{
    width: 175px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Caudex';
    font-size: 14px;
    background-color: #B0E0B2;
    border: transparent;
    cursor: pointer;
}
.media-buttons{
    display: flex;
    flex-direction: row;
    align-items: left;
    padding: 20px;
    padding-left: 0px;
}
.footer-media-buttons{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
    
    justify-items: right;align-self: center;justify-self: center;padding: 14px;
    
justify-content: center;align-content: center;}

.social-icon > img{
    height: auto;
    width: 35px;
    cursor: pointer;
    padding-right: 20px;
}

.social-icon > a{
    width: 50px;
    cursor: pointer;
}

/*footer Styles*/
.footer-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    padding-top: 0px;
align-items: center;align-content: center;height: fit-content;}

.footer-left{
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    align-items: center;
justify-self: center;align-self: center;}

.footer-right{
    display: flex;
    flex-direction: column;
    padding-right: 70px;
    align-items: center;
}
.footer-title{
    color: #867CB8;
    font-size: 30px;
    font-family: 'Pridi';
}

.footer-email{    
    font-size: 18px;
    color: #59527A;
    font-family: 'Pridi';
}

.footer-number{
    color: #59527A;
    font-size: 16px;
    font-family: 'Pridi';
}

.footer-location{

color: #59527A;}

.topic-block-wrapper{
    padding-top: 75px;
}
.topic-title-text{
    justify-self: left;
    font-size: 30px; 
    font:bold;
    padding-bottom: 10px;
    font-family: 'Poppins';
    }
.topic-block-left-img{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
    border-radius: 15px;
    background-blend-mode: darken;
    opacity: 1;
    /*box-shadow: 0px 0px 40px 0.1px dimgray;*/
}
.topic-block-right-img{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px;
    border-radius: 15px;
    background-blend-mode: darken;
    opacity: 1;
    }
.topic-block-left-img > .right-side{
    justify-self: left;
    align-self: center;
    padding-left: 25px; /*for the text next to the image*/
}
.topic-block-left-img > .left-side{
    justify-self: left;
    align-self: center;
}
.topic-block-right-img > .left-side{
    justify-self: right;
    align-self: center;
    padding-right: 25px; /*for the text next to the image*/
}
.topic-block-right-img > .right-side{
    justify-self: right;
    align-self: center;
}
.topic-block-left-img > .right-side > .topic-text-wrapper > *{
    text-align: left;
    font-family: 'Georgia', Tahoma, Geneva, Verdana, sans-serif, 'Georgia', Times, serif;
}

.topic-block-right-img > .left-side > .topic-text-wrapper > *{
    font-family: 'Georgia', 'Georgia', Times, serif;

    text-align: right;
}
.right-side{
    justify-self: right;
    margin: 0px;
}
.left-side{
    justify-self: left;
    margin: 0px;
}

.right-side > .topic-title{
    justify-self: left;
    text-align: left;
}
.left-side > .topic-title{
    justify-self: right;
    text-align: right;
}

.right-side > .topic-title-text{
    justify-self: left;
    text-align: left;
}
.left-side > .topic-title-text{
    justify-self: right;
    text-align: right;
}

.topic-img-wrapper > a > img{
    margin: 0px;
    height: auto;
    width: 500px;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.topic-img-wrapper > img{
    margin: 0px;
    height: auto;
    width: 500px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 5px;
}
.topic-text-wrapper{
    display: flex;
    flex-direction: column;
    /* padding-left: 20px; */
    justify-content: center;
}
.topic-text-wrapper > *{
    font-size: 21px;
    text-align: center;
}

/*Resume page styles*/
.rectangle{
    height: 115px;
    width: 523px;
    background-color: rgba(138, 192, 140, 1);
    
z-index: -1;}

.resume-topic-block-wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 40px;
    padding-left: 275px;
    padding-right: 275px;
    padding-top: 80px;
}

.resume-topic-block-title{
    position: relative;
}

.resume-topic-block-title .rectangle{
    position: absolute;
    top: -16px;
    left: -275px;
}

.resume-topic-block-text{
    padding-bottom: 17px;
}

.title-text{
    font-family: 'Poppins';
font-size: 50px;padding-bottom: 77px;}

.date-text{
    font-family: 'Georgia', Times, serif;
    font-size: 14px;
}

.list-title{
    font-family: 'Poppins';
    font-size: 22px;
    padding: 0px;
    font-weight: bold;
}
.resume-list ul{
    font-size: 17px;
    font-family: 'Georgia', Times, serif;
}

.generic-text{
    line-height: 2;
    font-size: 17px;
    font-family: 'Georgia', Times, serif;
}

/*about page styles*/

.abt-general-text-1{
    padding-left: 375px;
    padding-right: 375px;
    text-align: center;
    font-family: 'Georgia', Times, serif;
    font-size: 20px;
    padding-bottom: 50px;
    line-height: 1.5;
}

.abt-general-text-2{
    padding-left: 375px;
    padding-right: 375px;
    text-align: center;
    font-family: 'Georgia', Times, serif;
    font-size: 20px;
    padding-bottom: 50px;
    line-height: 1.5;
}

.abt-title{
    font-size: 80px;
    font-weight: bold;
    padding-bottom: 5px;
    font-family: 'Poppins';
    justify-self: center;
    align-items: center;
    align-self: center;
}
.abt-welcome-wrapper{
    position: relative;
    display:flex;
    flex-direction: column;
    padding-top: 100px;
}

.runner{
    position: absolute;
    padding: 0px;
    top: -145px;
    right: 5px;
    width: 650px;
    height: auto;
    z-index: 0;
}

.leaf-group-1{
    position: absolute;
top: 125px;left: 90px;}
.leaf-group-1 > * {
    position: absolute;
    transform: rotate(70deg);
}

.leaf-group-1 > .leaf-2 {
    position: absolute;
    transform: translateY(-30px) rotate(70deg);

}

.leaf-group-2{
    position: absolute;
    right: 331px;
    bottom: 519px;
}
.leaf-group-2 > * {
    position: absolute;
    transform: rotate(-115deg);
}

.leaf-group-2 > .leaf-2 {
    position: absolute;
    transform: translateY(-40px) rotate(-115deg);

}

.leaf-group-1 > .fern{
    transform: 
    rotate(180deg) 
    translate(15px, 66px)
    ;
}

.leaf-group-2 > .fern{
    transform: rotate(0deg) 
    translate(12px, -9px);
}

/*Work styles*/

.wrk-title{
    align-self: left;
    display: flex;
    justify-content: left;
    align-content: center;
    font-size: 56px;
    font-weight: bold;
    padding-top: 30px;
    padding-left: 30px;
    font-family: 'Caudex';
}

.wrk-subtitle{
    align-self: center;
    width: 550px;
    height: auto;
}
.wrk-subtitle > div{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    font-size: 20px;
    font-weight: normal;
    font-family: 'Poppins';

}